<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.member.model.mapper.MemberMapper">
	<!-- Insert a new member -->
	<insert id="insertMember" parameterType="memberDto" useGeneratedKeys="true" keyProperty="memberId">
		INSERT INTO member
		(id,password, name, birthdate, image, email_id,email_domain,
		nickname,sex, area,phone_number, mbti)
		VALUES (#{id}, #{password},
		#{name},#{birthdate}, #{image},#{emailId},#{emailDomain},#{nickname},
		#{sex},#{area}, #{phoneNumber}, #{mbti})
	</insert>

	<!-- Select member by id -->
	<select id="findById" parameterType="String"
		resultType="memberDto">
		SELECT * FROM member WHERE id = #{id}
	</select>
	
	<!-- List members -->
	<select id="listMember" resultType="memberDto">
		SELECT * FROM member
	</select>
	
	<select id="getMemberIdById" resultType="String" parameterType="String">
		SELECT member_id FROM member WHERE id = #{id}
	</select>
	
	<select id="getNicknameByMemberId" resultType="String" parameterType="String">
		SELECT nickname FROM member WHERE member_id = #{memberId}
	</select>
	
	<!-- Update member -->
	<update id="updateMember" parameterType="memberDto" useGeneratedKeys="true" keyProperty="memberId">
		UPDATE member
		SET name = #{name}, birthdate = #{birthdate},
		image = #{image}, email_id = #{emailId}, email_domain =
		#{emailDomain}, nickname =
		#{nickname}, sex = #{sex}, area = #{area}, phone_number =
		#{phoneNumber}, mbti = #{mbti}
		WHERE id = #{id}
	</update>
	
	<update id="changePassword" parameterType="memberDto">
		UPDATE member
		SET password = #{password}
		WHERE id = #{id}
	</update>
	<!-- Update token -->
	<update id="updateToken" parameterType="map">
		UPDATE member SET token = #{token} WHERE id = #{id}
	</update>
	
	
	
	<!-- Delete member -->
	<update id="deleteMember" parameterType="String">
		UPDATE member SET is_active = 0 WHERE id = #{id}
	</update>
	
	<!-- Register Profile Image -->
	<insert id="registerFile" parameterType="memberFileInfoDto">
		INSERT INTO member_file_info
		(member_id, save_folder, original_file, save_file)
		VALUES (#{memberId}, #{saveFolder}, #{originalFile}, #{saveFile})
	</insert>
	
	<!-- Get Profile Image -->
	<select id="fileInfo" parameterType="String" resultType="memberFileInfoDto">
		SELECT * FROM member_file_info
		WHERE member_id = #{memberId}
	</select>
	
	<!--  Update Profile Image -->
	<update id="updateFile" parameterType="memberFileInfoDto">
		UPDATE member_file_info
		SET save_folder = #{saveFolder},
		original_file = #{originalFile},
		save_file = #{saveFile}
		where member_id = #{memberId}
	</update>
</mapper>