<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.trip.qna_board.model.mapper.QnABoardMapper">
	<select id="listArticle" parameterType="map"
		resultType="qnaBoardListItemDto">
		select 
		b.qna_board_id qnaBoardId, 
		b.member_id memberId,
		b.hit hit, 
		b.subject subject,
		b.content content, 
		b.register_time registerTime, 
		b.secret secret, 
		b.password password,
		b.is_answered isAnswered, 
		case when m.is_active = 1
		then m.nickname 
		else '(탈퇴한 회원)' end as nickname
		from qna_board b
		left join member m 
		on b.member_id = m.member_id
		order by b.qna_board_id desc
		limit #{start}, #{listsize}
	</select>

	<select id="detailArticleById" parameterType="String"
		resultType="qnaBoardDto">
		select * from qna_board
		where qna_board_id = #{qnaBoardId}
	</select>

	<update id="updateHit" parameterType="String">
		update qna_board
		set hit =
		hit+1
		where qna_board_id = #{qnaBoardId}
	</update>

	<insert id="insertArticle" parameterType="qnaBoardDto">
		insert into qna_board
		(member_id, subject, content
		<if test="secret != 0 or secret != null">
			, secret, password
		</if>
		)
		values
		(#{memberId}, #{subject}, #{content}
		<if test="secret != 0 or secret != null">
			, #{secret}, #{password}
		</if>
		)
	</insert>

	<delete id="deleteArticle" parameterType="String">
		delete from qna_board
		where qna_board_id = #{qnaBoardId}
	</delete>

	<update id="modifyArticle" parameterType="qnaBoardDto">
		update qna_board
		set
		subject = #{subject}, content = #{content}
		where qna_board_id =
		#{qnaBoardId}
	</update>

	<update id="updateStateToAnswered" parameterType="String">
		update
		qna_board
		set isAnswered = 1
	</update>

	<update id="updateStateToUnAnswered" parameterType="String">
		update
		qna_board
		set isAnswered = 0
	</update>

	<select id="listComment" parameterType="String"
		resultType="qnaCommentDto">
		select * from qna_comment
		where qna_board_id
		= #{qnaBoardId}
	</select>

	<insert id="insertComment" parameterType="qnaCommentDto">
		insert into qna_comment
		(qna_board_id, member_id, content, depth, comment_group)
		values
		(#{qnaBoardId}, #{memberId}, #{content}, #{depth}, #{commentGroup})
	</insert>

	<delete id="deleteComment" parameterType="String">
		delete from qna_comment
		where comment_id = #{commentId}
	</delete>

	<update id="modifyComment" parameterType="qnaCommentDto">
		update qna_comment
		set
		content = #{content}
		where comment_id = #{commentId}
	</update>

	<select id="getTotalArticleCount" parameterType="map"
		resultType="int">
		select count(b.qna_board_id)
		from qna_board b
		<if test="word != null and word != ''">
			<if test="key == 'subject'">
				where b.subject like concat('%', #{word}, '%')
			</if>
			<if test="key != 'subject'">
				where ${key} = #{word}
			</if>
		</if>
	</select>

</mapper>